.search > .form-group {
    display: inline-block !important;
    position: relative !important;

}

  
.search > .form-group:after {
    content: "" !important;
    background: #000 !important;
    width: 2px !important;
    height: 10px !important;
    position: absolute !important;
    top: 17px !important;
    right: -2px !important;
    transform: rotate(135deg) !important;
}


.search >.form-group > input {
    cursor: pointer !important;
    color: #81a35a !important;
    font-size: 16px !important;
    background: transparent !important;
    width: 10px !important;
    height: 14px !important;
    padding: 7px !important;
    border: solid 2px #000 !important;
    outline: none !important;
    border-radius: 35px !important;
    transition: width 0.5s !important;
}
.search >.form-group > input:hover {
    border: solid 2px #81a35a !important;
}

.search > .form-group > input::placeholder {
    color: #81a35a !important;
    opacity: 1 !important;
}

.search > .form-group > input:focus,
.search > .form-group > input:valid {
    width: 150px !important;
}

@media only screen and (max-width: 768px){
    .search > .form-group:after {background: #fff !important;}
    .search > .form-group > input {border: 2px solid #fff !important;}
}
  